extends layout

block vars
    - let title = '火星人科技'

block content
    #bd
        #ban-in(style='background-image:url(/public/images/about/14415956565984.jpg)')
            .ban-bg
        #whous.wp
            .tit-i
                h3 我们是谁
                h5
                    | about 
                    span WEBTHINK
            .c
            .about-info
                | 某某网络科技有限公司，简称某某，英文名称dede58。
                br
                p
                    | 织梦58是由从事多年互联网界研究的海外归国人员于2007年创办，拥有强大的运营团队和技术团队，专注于高端网站定制、企业网站建设、手机移动网站建设、手机APP定制开发、应用系统开发等，为企业提供全球化互联网解决方案。
                p
                    | 公司自创立以来，
                    span(style='line-height:1.5;')
                        | 已成功为500多家企事业单位、政府机关提供过高端互联网服务，其中包括中软集团、大众汽车、思科、中国银行、华夏银行、中赫集团、碧生源、朗波尔、凤凰瑜伽、华夏银行、华夏典当行、华胜天成、宝瑞通典当行、传媒大学、中粮集团、国际安全信息中心、国家经济中心、国家统计局、等等。
                | 对网思来说，客户是具有排他性、唯一性的。我们强调个性定制化的方式与您沟通，通过创意、新技术新媒体的结合运用，为您提供整合的解决方案与全方位的视觉传播服务。
                br
                | 网思洞悉中国互联网发展轨迹的同时，以最为专业的网络新思维去深入思考网络在中国企业、中国互联网运营商以及网民中的真正价值，坚定不移的扛起中国网络创新的大旗，致力于揭开网络应用的新篇章！
                br
            // 动画部分
            ul.ul-about.ul-show
                li.li1
                    .block
                        img(src='/public/images/about/c1.png')
                        img(src='/public/images/about/c2.png')
                        img(src='/public/images/about/c3.png')
                        img(src='/public/images/about/c4.png')
                        img(src='/public/images/about/c5.png')
                        img(src='/public/images/about/c6.png')
                        img(src='/public/images/about/c7.png')
                        img(src='/public/images/about/c8.png')
                    .c
                    h3 量身打造
                    em
                    p
                        | 针对不同企业状况、客户特殊需求等量身打造，从专业化的建站方案定制
                        span(style='line-height:1.5;') ，独一无二的视觉效果设计，到易于SEO优化的规范化代码编写，易于操作的人性化管理后台，无不体现“定制”的意义。
                li.li2
                    .block
                        img(src='/public/images/about/t1.png' data-top-center='background-position:0px 0px;', data-bottom-center='background-position:141px 0px;')
                        img(src='/public/images/about/t2.png')
                        img(src='/public/images/about/t3.png')
                        img(src='/public/images/about/t4.png')
                        img(src='/public/images/about/t5.png')
                        img(src='/public/images/about/t6.png')
                        img(src='/public/images/about/t7.png')
                        img(src='/public/images/about/t8.png')
                        img(src='/public/images/about/t9.png')
                    .c
                    h3 领先设计
                    em
                    p(style='text-align:center;')
                        span(style='line-height:1.5;') 为客户定制适合自己的互联网形象，
                    p(style='text-align:center;')
                        span(style='line-height:1.5;') 尊重访问者视觉体验和浏览习惯，用户体验友好，
                    p(style='text-align:center;')
                        | 注重信息
                        span(style='line-height:1.5;') 架构分析，界面设计、互动设计和
                    p(style='text-align:center;')
                        span(style='line-height:1.5;') 内容制作，为客户提供
                        span(style='line-height:1.5;') 高价值的平台。
                    p(style='text-align:center;')
                        span(style='line-height:1.5;')
                            br
                li.li3
                    .block
                        img(src='/public/images/about/b1.png')
                        img(src='/public/images/about/b2.png')
                        img(src='/public/images/about/b3.png')
                        img(src='/public/images/about/b4.png')
                    .c
                    h3 全网开发
                    em
                    p(style='text-align:center;')
                        span(style='line-height:1.5;') 全网是一个新概念，是互联网时代的必然产物，
                        span(style='line-height:1.5;') 更是企业在未来几年内的生存之道。
                        span(style='line-height:1.5;') 网思
                        span(style='line-height:1.5;') 为客户提供全方位全网开发。
                        span(style='line-height:1.5;') 网站建设、微站设计、微信
                        span(style='line-height:1.5;') 公众平台开发，同时完整的将互联
                        span(style='line-height:1.5;') 网各平台结合，实现一站式管理。
                    p(style='text-align:center;')
                        br
                    p(style='text-align:center;')  
            // 动画部分
        .c
        #ourcus.customer.fix
            .wp
                .tit-i.tit-i-1
                    h3 我们服务的客户
                    h5
                        | our 
                        span customer
                ul.ul-customer
                    li
                        a(href='javascript:;', target='_blank')
                            b
                            img(src='/public/images/about/14417772351016.png' width='234', height='87')
                    li
                        a(href="javascript:;")
                            b
                            img(src='/public/images/about/14417772151236.png' width='234', height='87')
                    li
                        a(href="javascript:;")
                            b
                            img(src='/public/images/about/14417777895049.png' width='234', height='87')
                    li
                        a(href="javascript:;")
                            b
                            img(src='/public/images/about/14417773256917.png' alt='弘神', width='234', height='87')
                    li
                        a(href="javascript:;", target='_blank')
                            b
                            img(src='/public/images/about/14417770416979.png' width='234', height='87')
                    li
                        a(href="javascript:;")
                            b
                            img(src='/public/images/about/14417770728965.png' width='234', height='87')
                    li
                        a(href="javascript:;")
                            b
                            img(src='/public/images/about/14417770931301.png' width='234', height='87')
                    li
                        a(href="javascript:;")
                            b
                            img(src='/public/images/about/14417685061923.png' width='234', height='87')
                    li
                        a(href="javascript:;")
                            b
                            img(src='/public/images/about/14417778261716.png' width='234', height='87')
                    li
                        a(href="javascript:;")
                            b
                            img(src='/public/images/about/14417773644618.png' width='234', height='87')
        #ourteam.team
            .wp
                .tit-i
                    h3 我们的团队
                    h5
                        | our 
                        span team
            .flexslider
                ul.slides
                    li
                        .wp
                            .txt
                                h3.animated(data-animate='fadeInDown') 商务策划
                                p.animated(data-animate='fadeInDown')
                                p.animated.fadeInDown(style='font-family:微软雅黑, `Microsoft Yahei`;font-size:14px;background-color:#FFFFFF;')
                                    | 不只是建站，更提供有价值的思路和整体服务。
                                    br
                                    | 网思人不断深入对各类行业属性以及商业模式的探索，全面了解企业现状、深入挖掘品牌价值、专业策划并准确全是产品价值。
                                p
                                p.animated(data-animate='fadeInDown')
                                    a.more(href="javascript:;") 加入我们
                            .pic
                                img.animated(data-animate='fadeInLeft', data-delay='0.5', src='/public/images/about/o5.png')
                                img.animated(data-animate='fadeInRight', data-delay='0.9', src='/public/images/about/o6.png')
                    li
                        .wp
                            .txt
                                h3.animated(data-animate='fadeInDown') 项目执行
                                p.animated(data-animate='fadeInDown')
                                p.animated.fadeInDown(style='font-family:微软雅黑, `Microsoft Yahei`;font-size:14px;background-color:#FFFFFF;')
                                    | 主要负责网站建设项目的开发管理和流程监控工作。网思的整个项目组对工作是非常细致严谨的，项目进行中随时与客户保持商量和沟通，双方配合在最短的时间内顺利完成项目开发工作。
                                p
                                p.animated(data-animate='fadeInDown')
                                    a.more(href='#') 加入我们
                            .pic
                                img.animated(data-animate='fadeInLeft', data-delay='0.5', src='/public/images/about/o7.png')
                                img.animated(data-animate='fadeInLeft', data-delay='0.8', src='/public/images/about/o8.png')
                                img.animated(data-animate='fadeInLeft', data-delay='1.2', src='/public/images/about/o9.png')
                                img.animated(data-animate='fadeInRight', data-delay='1.5', src='/public/images/about/o10.png')
                                img.animated(data-animate='fadeInDown', data-delay='1.8', src='/public/images/about/o11.png')
                    li
                        .wp
                            .txt
                                h3.animated(data-animate='fadeInDown') 设计师
                                p.animated(data-animate='fadeInDown')
                                p.animated.fadeInDown(style='font-family:微软雅黑, `Microsoft Yahei`;font-size:14px;background-color:#FFFFFF;')
                                    | 我们喜爱创新，对创意设计有着极高的热情，并准备着为一个好的点子通宵达旦。我们不仅提供漂亮的设计，更知道设计是一种方法或策略，而非仅仅是美术自由，设计载体是品牌，强调设计的实用性。
                                p
                                p.animated(data-animate='fadeInDown')
                                    a.more(href='#') 加入我们
                        .pic
                            img.animated(data-animate='fadeInRight', data-delay='0.5', src='/public/images/about/o18.png')
                            img.animated(data-animate='fadeInRight', data-delay='1.5', src='/public/images/about/o21.png')
                            img.animated(data-animate='fadeInLeft', data-delay='0.8', src='/public/images/about/o19.png')
                            img.animated(data-animate='fadeInLeft', data-delay='1.2', src='/public/images/about/o20.png')
                            img.animated(data-animate='fadeInLeft', data-delay='1.8', src='/public/images/about/o22.png')
                    li
                        .wp
                            .txt
                                h3.animated(data-animate='fadeInDown') Web前端工程师
                                p.animated(data-animate='fadeInDown')
                                p.animated.fadeInDown(style='font-family:微软雅黑, `Microsoft Yahei`;font-size:14px;background-color:#FFFFFF;')
                                    | 根据已确认的设计稿进行每一个页面的制作。我们会按照我们的W3C制作标准进行web开发，使得更简易、可方便调节、各浏览器兼容性强、可扩展等，让用户体验达到一定高度！
                                p.animated.fadeInDown(style='font-family:微软雅黑, `Microsoft Yahei`;font-size:14px;background-color:#FFFFFF;')
                                    | 我们将以最大程度上减少页面代码，使爬行蜘蛛能带走更多有用有价值的信息。并且我们将严格遵守标准CSS命名规则，使搜索引擎能够快速的认知网页内容板块结构，快速收录！
                                p
                                p.animated(data-animate='fadeInDown')
                                    a.more(href="javascript:;") 加入我们
                            .pic
                                img.animated(data-animate='fadeInLeft', data-delay='0.5', src='/public/images/about/o12.png')
                                img.animated(data-animate='fadeInLeft', data-delay='1.2', src='/public/images/about/o14.png')
                                img.animated(data-animate='fadeInLeft', data-delay='0.8', src='/public/images/about/o13.png')
                                img.animated(data-animate='fadeInLeft', data-delay='1.5', src='/public/images/about/o15.png')
                                img.animated(data-animate='fadeInLeft', data-delay='1.8', src='/public/images/about/o17.png')
                                img.animated(data-animate='fadeInLeft', data-delay='2.2', src='/public/images/about/o16.png')
                    li
                        .wp
                            .txt
                                h3.animated(data-animate='fadeInDown') 程序员
                                p.animated(data-animate='fadeInDown')
                                p.animated.fadeInDown(style='font-family:微软雅黑, `Microsoft Yahei`;font-size:14px;background-color:#FFFFFF;')
                                    | 从事程序开发、维护的专业人员。拥有强大的开发力量，依照客户需求及工作流程来定制专属平台
                                    span(style='line-height:1.5;') ，优化网站结构，精简程序代码，清晰的层次架构.
                                p
                                p.animated(data-animate='fadeInDown')
                                    a.more(href="javascript:;") 加入我们
                            .pic
                                img.animated(data-animate='fadeInDown', data-delay='0.5', src='/public/images/about/o1.png')
                                img.animated(data-animate='fadeInUp', data-delay='0.8', src='/public/images/about/o2.png')
                                img.animated(data-animate='fadeInUp', data-delay='1.2', src='/public/images/about/o3.png')
                                img.animated(data-animate='fadeInDown', data-delay='1.5', src='/public/images/about/o4.png')
                em
block script
    script.
        $('.team .flexslider').flexslider({
            animation: "slide",
            animationLoop: true,
            slideshow: false,
            prevText: "",
            nextText: "",
            controlNav: false,
            directionNav: true,
            pauseOnHover: true,
            slideshowSpeed: 3000,
            start: function (slider) {

            },
            before: function () {
                $('.flexslider').resize();
            },
            after: function (slider) {
                initState();
                move();
            }
        });
        function initState() {
            $('.team .animated').each(function () {
                var dataAnimate = $(this).data('animate');
                $(this).removeClass(dataAnimate);
            })
        }
        function move() {
            var curSlide = $('.team .slides li.flex-active-slide');
            var h3 = curSlide.find('h3'),
                p = curSlide.find('p'),
                img = curSlide.find('img');
            h3.addClass(h3.data('animate'));
            p.addClass(p.data('animate'));
            img.each(function () {
                $(this).addClass($(this).data('animate')).css({ 'animation-delay': $(this).data('delay') + 's' });
            })
        }
        $(window).load(function () {
            move();
        })