extends layout

block vars
    - let title = '火星人科技'

block content
    #bd
        #ban-in(style='background-image:url(/public/images/blog/14415956107965.jpg)')
            .ban-bg
        .wp
            .tit-i
                h3 知识博客
                h5
                    | WEBTHINK 
                    span NEWS
            .sub-nav
                ul
                    li
                        a(href='javascript:;') 用户体验
                    li
                        a(href='javascript:;') 视觉设计
                    li
                        a(href='javascript:;') 交互设计
                    li
                        a(href='javascript:;') 创业设计
                    li
                        a(href='javascript:;') 设计管理
            ul.ul-list
                li
                    .pad
                        .pic
                            a(href='javascript:;')
                                img(src='/public/images/blog/1-1604211620420-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') 细数百度推广关键词七宗罪，烧钱的罪魁祸首
                                a(href='blog_show' style='color:#666;')
                                    p 我们都说做网站，定位系统走前面，定位不对，后面白费。关键词也是在网络推广和运营的定位系统，选择恰...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-1604211620240-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') 苏宁阿里婚后，解密苏宁易购李斌离职的背后
                                a(href='blog_show', style='color:#666;')
                                    p 文/蓝鲸TMT网 吴雅涵 昨日，蓝鲸TMT独家爆出苏宁易购执行副总裁李斌已经离职的消息，事后苏宁官方已证实李...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-1604211620020-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') e洗车濒临倒闭，e保养还会远吗？
                                a(href='blog_show', style='color:#666;')
                                    p 文/蓝鲸TMT 李雪 近日，有报道称O2O洗车平台e洗车已经濒临倒闭边缘，来自滴滴的CEO张晶已于今年5月离职，外...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-1604211619440-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') 专车新规的倒退：一纸背离“互联网+”的精神
                                a(href='blog_show', style='color:#666;')
                                    p 文/路北(微信公众号lubei2014运营者) 节后大事多，今年特别多，专车在国庆节之后也摊上了大事。 先是10月8日...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-1604211619220-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') iPhone 6S竟有16种版本，苹果是不是店大欺客？
                                a(href='blog_show', style='color:#666;')
                                    p 最近，苹果新机iPhone 6S上因为用了台积电、三星两家代工的A9处理器而被推上风口浪尖。根据国外评测机构反...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-160421161U90-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') 微软、苹果、小米押宝PC背后的未来逻辑
                                a(href='blog_show', style='color:#666;')
                                    p 这两年来，万物移动的潮流成为了业内的主流观点。不少业内人士表示，未来的办公、娱乐、学习等一站式的...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-160421161S40-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') E洗车面临倒闭，洗车O2O有哪些漫不过的坎？
                                a(href='blog_show', style='color:#666;')
                                    p 作者：凌晨六点 10月12日，根据搜狐新闻的报道，O2O洗车平台E洗车已关闭上门洗车和上门保养业务，上百名员...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-160421161Q70-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') 除了打价格战，电影营销如何实现共赢？
                                a(href='blog_show', style='color:#666;')
                                    p 9月底，为期5天的第二届丝绸之路国际电影节在福建福州举办，期间，多场专业论坛聚焦电影产业的跨行业融...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-160421161P00-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') 苏宁沦为阿里的“搬运工” 张近东造吗？
                                a(href='blog_show', style='color:#666;')
                                    p 日前，苏宁交出了与阿里合体之后的第二份考卷。显然，相对于自己生造的8.18电商节，国庆黄金周的成绩并不...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-160421161J30-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') 从索尼黑莓尴尬处境，看传统手机品牌之殇
                                a(href='blog_show', style='color:#666;')
                                    p 文/蓝鲸TMT 老喵 唯物辩证法认为,新事物必定战胜旧事物,事物发展总趋势是前进的， 新事物的发展前途是光明...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-160421161F20-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') 玩转产品众筹时你需要了解的一些事
                                a(href='blog_show', style='color:#666;')
                                    p 众筹(crowdfunding)是指在上展示、宣传某个项目，引发大众兴趣，让那些愿意支持或参与该项目的人通过赞助的...
                            .more
                                a.r(href='blog_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='blog_show')
                                img(src='/public/images/blog/1-1604211616410-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='blog_show') 美特斯邦威“有范”吗？ 个性时代逃不出的库存
                                a(href='blog_show', style='color:#666;')
                                    p 2015年上半年美邦服饰出现上市7年来的首次亏损：归属母公司股东的净利润为-9476万元，同比下跌152.9%。4年时...
                            .more
                                a.r(href='blog_show') 查看更多 >
            .c
            .dede_pages
                ul.pagelist
                    li 首页
                    li.thisclass 1
                    li
                        a(href='javascript:;') 2
                    li
                        a(href='javascript:;') 3
                    li
                        a(href='javascript:;') 下一页
                    li
                        a(href='javascript:;') 末页
                    li
                        select(name='sldd', style='width:36px', onchange='location.href=this.options[this.selectedIndex].value;')
                            option(value='javascript:;', selected='') 1
                            option(value='javascript:;') 2
                            option(value='javascript:;') 3
                    li
                        span.pageinfo
                            | 共 
                            strong 3
                            | 页
                            strong 36
                            | 条

    .c
