extends layout

block vars
    - let title = '火星人科技'

block content
    #bd
        .cur
            .wp
                | 您的当前位置：
                a(href="/") 主页
                |  > 
                a(href='blog') 知识博客
                |  > 
                a(href='#') 交互设计
                |  >
        .wp
            .article
                h1 苏宁沦为阿里的“搬运工” 张近东造吗？
                p.time 时间：2016-04-21
                .article-con
                    p
                        img(border='0', src='/public/images/blog/show/161PRc3-0.jpg')
                    p
                        | 日前，苏宁交出了与阿里合体之后的第二份考卷。显然，相对于自己生造的“8.18”电商节，国庆黄金周的成绩并不能让苏宁满意，甚至还有了注水的嫌疑。
                    p
                        | 援引苏宁相关负责人的话说，国庆黄金周期间苏宁线上线下实现销售翻番。虽然行三，但在中国B2C市场的份额只有3%，小短腿苏宁步子倒腾得再快与前面巨人的差距未见得就能缩小。这就像美国不会对印度7%的年GDP增长率感到任何威胁，更何况增长质量才是首要的。
                    p
                        | 至于线下翻番，就更只能呵呵了。“国庆节实体卖场各种冷清”的描述早已见诸报端，多家市场调研公司的数据也显示，堪称市场“晴雨表”的大国庆节期间在线下卖得并不好。如果线下生意当真那般兴隆，苏宁还投靠阿里做甚?
                    p
                        | 其实，资本市场的反应多少也能说明问题。即便与苏宁结盟，也难挡阿里的股价稀里哗啦地下跌。更耐人寻味的是，苏宁入驻天猫平台头一天股价便下挫逾两个点。
                    p
                        | 本以为抱了阿里的大腿，就可以一步登天，但是并不出彩的黄金周线上线下业绩却暗示着苏宁正在沦为阿里的“搬运工”。精明过人的张近东是知道啊还是知道啊。
                    p
                        | 苏宁从阿里手里能得到什么?如此重要的问题就应该问千遍，据说在苏宁内部对此也曾产生激烈的争论。而目前来看，阿里却已得偿所愿，用无法量化的所谓“流量”换到了最需要的物流资源，这也是苏宁最丰厚的一份嫁妆。阿里重金打造的菜鸟网络一直是扶不起的阿斗，借助苏宁现成的全国性的仓储和物流资源，不仅可以减少建设资金投入、缩短建设周期，关键还能赢得宝贵的时间，毕竟身后还有一个紧追不舍的老二。
                    p
                        | 在刚刚过去的国庆黄金周，阿里的“司马昭之心”更是昭然，苏宁20多年苦心孤诣打造的线下物流配送和安装服务体系全天候向阿里开放：在天猫超市下单购买的商品，送货的是苏宁的快递员，快递单上则印着天猫的标志。阿里提升的是购物体验，挣的是明天的钱;苏宁赚的是跑腿费，快活一天算一天。
                    p
                        | 反观苏宁，张近东的流量饥渴症趋缓了吗?没有。首先，阿里不可能将流量资源完全向苏宁倾斜，至少中秋、国庆双节没有看到。原因很简单，阿里必须顾及其他商家的感受，避免自身整体利益受损。其次，淘宝、天猫的流量都在下降，苏宁能得到的自然更有限。
                    p
                        | 眼尖的人说，苏宁是在卧薪尝胆下一盘O2O大棋。O2O时尚时尚最时尚，阿里何尝不是如此。问题是从高德地图到美团，再到银泰，阿里在该领域从没有拿得出手的案例。其几近全军覆没的表现，让人们不得不为委身相许的苏宁捏一把汗。
                    p
                        | 阿里与苏宁的嫁接注定无法结出硕果——这是一种寡头土豪似的抱团取暖，同时也无助创新生态的改善——归根结底源于两者的模式都已经过时。前者更像一家网络广告公司，通过向消费者展示品牌商广告收取服务费，做的是流量生意，掌握不了供应链。后者是传统制造时代的王者，重仓线下，时代却无法利用线下门店将用户导入电商。
                    p
                        | 至于重构，只是失意者对从前的否定，却未必意味着危机得到解决。各怀心思的两头大象相结合能产出一只不死鸟吗?
                    p
                        | ===================
                    p
                        | 贾敬华：互联网业内知名人士，著名IT评论家。微信公众帐号：jiawebjn
                .h20
                .share
                    span 分享到：
                    .bdsharebuttonbox
                        a.bds_more(href='#', data-cmd='more')
                        a.bds_qzone(href='#', data-cmd='qzone', title='分享到QQ空间')
                        a.bds_tsina(href='#', data-cmd='tsina', title='分享到新浪微博')
                        a.bds_tqq(href='#', data-cmd='tqq', title='分享到腾讯微博')
                        a.bds_renren(href='#', data-cmd='renren', title='分享到人人网')
                        a.bds_weixin(href='#', data-cmd='weixin', title='分享到微信')
    .c
block script
    script.
        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
