extends layout

block vars
    - let title = '火星人科技'
block content
    #bd
        #ban-in(style='background-image:url(/public/images/cases/14415956565984.jpg)')
            .ban-bg
        .wp
            .tit-i
                h3 客户案例
                h5
                    span case
                    |  OF US
            .sub-nav
                ul
                    li
                        a(href='ceaes') 网站设计
                    li
                        a(href='javascript:;') 移动APP
                    li
                        a(href='javascript:;') 软件界面
                    li
                        a(href='javascript:;') 互联网产品
                    li
                        a(href='javascript:;') 电子商务
                    li
                        a(href='javascript:;') 平面设计
            .c
            ul.ul-case
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-1604211551200-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 软件界面
                                    em
                                    h3 微健智能跑步机应用
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-1604211550560-L.jpg')
                        .txt
                            a(href='javascript:;' style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 软件界面
                                    em
                                    h3 米豆教育
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-1604211550350-L.jpg')
                        .txt
                            a(href='javascript:;' style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 软件界面
                                    em
                                    h3 优品汇手机助手
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-1604211549540-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 移动APP
                                    em
                                    h3 Jackery app
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-1604211549300-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 移动APP
                                    em
                                    h3 我开始健身app
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-160421154R70-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 网站设计
                                    em
                                    h3 iPin图片社区
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-160421154J50-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 网站设计
                                    em
                                    h3 零担速配
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-160421154F90-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 网站设计
                                    em
                                    h3 趣逛地图
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-1604211546360-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 网站设计
                                    em
                                    h3 nicedesign插画集
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-1604211545370-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 网站设计
                                    em
                                    h3 律生活
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-1604211545010-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 网站设计
                                    em
                                    h3 Triace提案设计
                                    span.more 案例详情
                li
                    .block
                        .pic
                            img(src='/public/images/cases/1-1604211544350-L.jpg')
                        .txt
                            a(href='javascript:;', style='width:100%;height:100%;display:block;')
                                b
                                .pad
                                    h5 网站设计
                                    em
                                    h3 数派金融—少数派报告
                                    span.more 案例详情
            .c
            .dede_pages
                ul.pagelist
                    li 首页
                    li.thisclass 1
                    li
                        a(href='javascript:;') 2
                    li
                        a(href='javascript:;') 下一页
                    li
                        a(href='javascript:;') 末页
                    li
                        select(name='sldd', style='width:36px', onchange='location.href=this.options[this.selectedIndex].value;')
                            option(value='javascript:;', selected='') 1
                            option(value='javascript:;') 2
                    li
                        span.pageinfo
                            | 共 
                            strong 2
                            | 页
                            strong 16
                            | 条
    .c
block script
    script.
        var isMobile;
        function mobileCheck() {
            isMobile = $('#m-hd').is(':visible');
        }

        $(window).resize(function (event) {
            mobileCheck();
            $('.ul-case li').removeClass('on');
            if (isMobile) {
                $('.ul-case').attr('id', 'ul-mobile');
            } else {
                $('.ul-case').attr('id', 'ul-pc');
            }
        });

        $('body').on('mouseenter mouseleave', '#ul-pc li', function () {
            $(this).toggleClass('on');
        })

        $('body').on('click', '#ul-mobile li', function () {
            $(this).toggleClass('on');
        })

        $(window).load(function () {
            $(window).trigger('resize');
        })

