extends layout

block vars
    - let title = '火星人科技'

block content
    #bd
        #ban-in(style='background-image:url(/public/images/news/14415956107965.jpg)')
            .ban-bg
        .wp
            .tit-i
                h3 新闻动态
                h5
                    | WEBTHINK 
                    span NEWS
            .sub-nav
                ul
                    li
                        a(href='javasrcipt:;') 团队活动
                    li
                        a(href='javasrcipt:;') 案例更新
                    li
                        a(href='javasrcipt:;') 项目动态
            ul.ul-list
                li
                    .pad
                        .pic
                            a(href='javasrcipt:;')
                                img(src='/public/images/news/1-1604211605430-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 三星优异财报背后的隐忧：手机业务萎靡 支付遭
                                a(href='news_show' style='color:#666;')
                                    p 三星在周三发布了2015财年第三财季的财报，运营利润同比大增了79.8%至63亿美元，受到财报的刺激三星的股价...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211605220-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 滴滴拿牌照：解读专车“上海模式”的四大要点
                                a(href='news_show' style='color:#666;')
                                    p 10月8日下午，上海市交通委向滴滴快的专车平台颁发了网络约租车（俗称专车）平台经营资格许可。这是国内...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211604450-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 黄晓明&Angelababy：男VC娶了女VC 估值超3亿
                                a(href='news_show' style='color:#666;')
                                    p 作者：王珑娟 来源：界 10月1日见证了创投圈最励志的投资41岁者刘强东在澳洲迎娶了22岁天使投资人奶茶妹妹...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211604220-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 虚拟现实那么热，距离VR游戏爆发还有多远?
                                a(href='news_show' style='color:#666;')
                                    p 谈 及VR虚拟现实，相信大伙并不会感觉到陌生。伴随着今年全球四大展会陆续拉下帷幕，VR虚拟现实的热度也...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211604010-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 对抗印度，硅谷华人正在崛起
                                a(href='news_show' style='color:#666;')
                                    p 来源：新芽NewSeed 作者：之之 近期，在美国，最抓人眼球的莫过于中印两国领导人相继访美。 先是9月22号，习...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211602000-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 从叫个鸭子说起 如何起一个让人喜闻乐见的好名
                                a(href='news_show' style='color:#666;')
                                    p 作者 | 小马宋（暴风魔镜创意合伙人） 好名字有多重要？ 回想起上次深圳的文案培训班，50个学员中，一个月...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211601260-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 掌机不会灭亡，索尼PS Vita没落纯属咎由自取
                                a(href='news_show' style='color:#666;')
                                    p 提及掌机，在长达数十载的产业发展历史中也有一段属于掌机的辉煌时期。但是近两年掌机的发展貌似并非没...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211601060-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 专车牌照获批：打车O2O春天并不会因此到来
                                a(href='news_show' style='color:#666;')
                                    p 据经济之声《天下财经》报道，上海市交通委昨天宣布：向滴滴快的专车平台颁发网络约租车平台经营资格许...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211600200-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 从相杀到相爱，盘点互联网巨头合并后的跌宕起
                                a(href='news_show' style='color:#666;')
                                    p 文|李少先 昨日上午，团购O2O的老大和老二也宣布要在一起了，这样的垂直竞争领域的巨头，打着打着就在一...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211555190-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 初创企业如何保证团队效率？从《O生万物》说起
                                a(href='news_show' style='color:#666;')
                                    p 作为作者，每日一文的辛勤耕耘固然重要，内容生产之于更需及时充电。正好手头有一本朋友送来，名为《...
                            .more
                                a.r(href='news_show') 查看更多 >
                li
                    .pad
                        .pic
                            a(href='news_show')
                                img(src='/public/images/news/1-1604211554530-L.jpg')
                        .bor
                            .txt
                                .title
                                    span
                                        em 04/21
                                        | 2016
                                    h3
                                        a(href='news_show') 一个手机壳背后的版权战争 是对手机创新的最大
                                a(href='news_show' style='color:#666;')
                                    p 背壳，看似微利，其实已经在版权战的视野中。这或许是在手机本体上没有颠覆式创新的大背景下，最绝妙的...
                            .more
                                a.r(href='news_show') 查看更多 >
            .c
            .dede_pages
                ul.pagelist
                    li 首页
                    li.thisclass 1
                    li
                        a(href='javasrcipt:;') 2
                    li
                        a(href='javasrcipt:;') 下一页
                    li
                        a(href='javasrcipt:;') 末页
                    li
                        select(name='sldd', style='width:36px', onchange='location.href=this.options[this.selectedIndex].value;')
                            option(value='javasrcipt:;', selected='') 1
                            option(value='javasrcipt:;') 2
                    li
                        span.pageinfo
                            | 共 
                            strong 2
                            | 页
                            strong 15
                            | 条
