extends layout

block vars
    - let title = '火星人科技'

block content
    #bd
        #ban-in(style='background-image:url(/public/images/service/14415956565984.jpg)')
            .ban-bg
        #webbuit.wp
            .tit-i
                h3 网站建设
                h5
                    | webset 
                    span design
            .about-info
                p
                    | 我们专注于品质化高端网站构建，
                    span 企业品牌在网站中的整体树立，网络互动的体验，以及在手机等移动端的优质呈现。
                p
                    span(style='line-height:1.5;') 根据客户实际情况1对1的为您提供咨询、研究、分析、策划等服务，从而保障网站建设项目能够顺利达到并超出您预期的商业
                    span(style='line-height:1.5;') 目标。
                p  我们专业提供一站式服务，从网站品牌规划、交互设计、视觉设计、动效创意，到程序开发，运营维护。 

            ul.ul-webset.pr.ul-show
                li.li1
                    .block
                        img(src='/public/images/service/w1.png')
                        img(src='/public/images/service/w2.png')
                        img(src='/public/images/service/w3.png')
                        img(src='/public/images/service/w4.png')
                        img(src='/public/images/service/w5.png')
                        img(src='/public/images/service/w6.png')
                        img(src='/public/images/service/w7.png')
                        img(src='/public/images/service/w8.png')
                        img(src='/public/images/service/w9.png')
                    h3 集团网站定制
                    a.btn(href='javascript:;')
                    .webset-pop
                        .pad
                            h2
                                | 集团网站建设
                                a.close(href='javascript:;')
                            .txt
                                h4.tit-web 建设
                                dl.ul-txt1
                                    dd 集团形象展示平台
                                    dd 舆论资讯传播平台
                                    dd 产业合作推介平台
                                    dd 品牌文化塑造平台
                                    dd 人力资源服务平台
                                    dd 投资者沟通平台
                            .txt
                                h4.tit-web.tit-web1 运维
                                dl.ul-txt1
                                    dd 分级权限管理
                                    dd 审批审核机制
                                    dd 数据分析应用
                                    dd 程序功能拓展
                                    dd 安全运行机制
                            .txt.txt1
                                h4.tit-web.tit-web2 策略
                                ul.ul-txt
                                    li.ok
                                        h5
                                            a(href='javascript:;') 网站导航
                                        .txt-1
                                            p
                                                | 良好的用户导航：信息架构的梳理应该符合企业品牌宣传与产品营销的需要；不需要让客户过多思考，全面的导航设置以适应网站不同用户对信息架构的预测，为来访者提供全程的访问导航。
                                    li
                                        h5
                                            a(href='javascript:;') 色彩搭配
                                        .txt-1
                                            p 页面传达品牌理念：追求美观、大方、简洁的设计风格；有效传递品牌价格，展现企业形象；秉承“UCD—以用户为中心的设计”原则。
                                    li
                                        h5
                                            a(href='javascript:;') 综合分析
                                        .txt-1
                                            p 有效的传递信息：对网站页面内容有效规划，第一时间将有效信息传达给目标受众；内容展现考虑用户体验，帮助访问者加强对品牌和产品信息的认知。
                                    li
                                        h5
                                            a(href='javascript:;') 技术运用
                                        .txt-1
                                            p 提高互动性和可能性：利用Web2.0技术增强网站浏览体验，提高信息获取效率，增加更多对用户的个性化服务。
                li.li2
                    .block
                        img(src='/public/images/service/q1.png')
                        img(src='/public/images/service/q2.png')
                        img(src='/public/images/service/q3.png')
                        img(src='/public/images/service/q4.png')
                        img(src='/public/images/service/q5.png')
                        img(src='/public/images/service/q6.png')
                    h3 企业网站定制
                    a.btn(href='javascript:;')
                    .webset-pop
                        h2
                            | 企业网站定制
                            a.close(href='javascript:;')
                        .txt
                            h4.tit-web 建设
                            dl.ul-txt1
                                dd 域名 主机 备案
                                dd 栏目架构全面 重点突出
                                dd 内容深度美化处理
                                dd 用户体验友好
                                dd 后台易操作 可拓展
                        .txt
                            h4.tit-web.tit-web1 运维
                            dl.ul-txt1
                                dd 无处不在的在线沟通
                                dd 兼容性、安全性、命名规范
                                dd 自然排名与收录
                                dd 快捷操作、分享概念
                                dd 数据反馈与统计分析
                        .txt.txt1
                            h4.tit-web.tit-web2 策略
                            ul.ul-txt
                                li.ok
                                    h5
                                        a(href='javascript:;') 技术运用
                                    .txt-1
                                        p 提高互动性和可能性：利用Web2.0技术增强网站浏览体验，提高信息获取效率，增加更多对用户的个性化服务。
                                li
                                    h5
                                        a(href='javascript:;') 综合分析
                                    .txt-1
                                        p 有效的传递信息：对网站页面内容有效规划，第一时间将有效信息传达给目标受众；内容展现考虑用户体验，帮助访问者加强对品牌和产品信息的认知。
                                li
                                    h5
                                        a(href='javascript:;') 色彩搭配
                                    .txt-1
                                        p 页面传达品牌理念：追求美观、大方、简洁的设计风格；有效传递品牌价格，展现企业形象；秉承“UCD—以用户为中心的设计”原则。
                                li
                                    h5
                                        a(href='javascript:;') 网站导航
                                    .txt-1
                                        p
                                            | 良好的用户导航：信息架构的梳理应该符合企业品牌宣传与产品营销的需要；不需要让客户过多思考，全面的导航设置以适应网站不同用户对信息架构的预测，为来访者提供全程的访问导航。
                li.li3
                    .block
                        img(src='/public/images/service/d1.png')
                        img(src='/public/images/service/d2.png')
                        img(src='/public/images/service/d3.png')
                        img(src='/public/images/service/d4.png')
                        img(src='/public/images/service/d5.png')
                        img(src='/public/images/service/d6.png')
                        img(src='/public/images/service/d7.png')
                        img(src='/public/images/service/d8.png')
                        img(src='/public/images/service/d9.png')
                        img(src='/public/images/service/d10.png')
                        img(src='/public/images/service/d11.png')
                        img(src='/public/images/service/d12.png')
                        img(src='/public/images/service/d13.png')
                        img(src='/public/images/service/d14.png')
                    h3 电子商务网站定制
                    a.btn(href='javascript:;')
                    .webset-pop
                        h2
                            | 电商网站定制
                            a.close(href='javascript:;')
                        .txt
                            h4.tit-web 建设
                            dl.ul-txt1
                                dd 产品管理系统
                                dd 会员系统
                                dd 购物车系统
                                dd 在线支付系统
                                dd 订单管理系统
                        .txt
                            h4.tit-web.tit-web1 运维
                            dl.ul-txt1
                                dd 接口集成性
                                dd 可扩展
                                dd 用户体验友好
                                dd 安全运行机制
                                dd 维护便捷
                        .txt.txt1
                            h4.tit-web.tit-web2 策略
                            ul.ul-txt
                                li.ok
                                    h5
                                        a(href='javascript:;') 网站导航
                                    .txt-1
                                        p
                                            | 良好的用户导航：信息架构的梳理应该符合企业品牌宣传与产品营销的需要；不需要让客户过多思考，全面的导航设置以适应网站不同用户对信息架构的预测，为来访者提供全程的访问导航。
                                li
                                    h5
                                        a(href='javascript:;') 色彩搭配
                                    .txt-1
                                        p 页面传达品牌理念：追求美观、大方、简洁的设计风格；有效传递品牌价格，展现企业形象；秉承“UCD—以用户为中心的设计”原则。
                                li
                                    h5
                                        a(href='javascript:;') 综合分析
                                    .txt-1
                                        p 提供专业的电子商务解决方案。从集成简单购物车和结算功能的小型电子商务系统，到客户订制的大型复杂电子商务平台。
                                li
                                    h5
                                        a(href='javascript:;') 技术运用
                                    .txt-1
                                        p 提高互动性和可能性：利用Web2.0技术增强网站浏览体验，提高信息获取效率，增加更多对用户的个性化服务。
            .h50
        .c
        #weiweb.bg-blue.fix
            .wp
                .tit-i
                    h3 H5响应式 交互网站
                    h5
                        span Responsive
                        |  Web design
                .about-info
                    p 以视觉形象为主，精细而恰当的交互动效，通过Flash、html5特效、视频等先进技术来实现，突出品牌及产品特点和形象，让用户获得耳目一新的视听效果，带来更愉悦的用户体验，传达更具魅力、印象更加深刻。
                ul.ul-web.fix
                    li.li1
                        .block
                            img(src='/public/images/service/n1.png')
                            img(src='/public/images/service/n2.png')
                            img(src='/public/images/service/n3.png')
                            img(src='/public/images/service/n4.png')
                        h3 丰富的内容设计
                    li.li2
                        .block
                            img(src='/public/images/service/n5.png')
                            img(src='/public/images/service/n6.png')
                        h3 html5页面代码
                    li.li3
                        .block
                            img(src='/public/images/service/n7.png')
                            img(src='/public/images/service/n8.png')
                            img(src='/public/images/service/n9.png')
                            img(src='/public/images/service/n10.png')
                            img(src='/public/images/service/n11.png')
                            img(src='/public/images/service/n12.png')
                        h3 css3特效样式
                    li.li4
                        .block
                            img(src='/public/images/service/n13.png')
                            img(src='/public/images/service/n14.png')
                        h3 H5响应式 交换网站
        #webmobel.wp
            .tit-i
                h3 移动端&微网站定制
                h5
                    | website about 
                    span mobilephone
            .about-info
                p  在移动互联时代，我们得出“简单使用，精彩体验”的移动应用开发理念，创造属于无线时代的精彩互联。 
            .c
            .web-con.pr
                ul.ul-tab.TAB_CLICK_SLIDE(id='.tab-show')
                    li.hover
                        a(href='javascript:;')
                            h3 手机网站
                            span Mobile web site
                    li
                        a(href='javascript:;')
                            h3 微网站
                            span Micro website
                    li
                        a(href='javascript:;')
                            h3 微信应用开发
                            span WeChat application
                .shou
                    img(src='/public/images/service/shou.png')
                .tab-con-box
                    .tab-show
                        .tab-con
                            .txt.animated(data-animate='fadeInDown')
                                p 手机网站适应手机浏览的网站。通过手机上的浏览器，输入网址，就可以浏览；由于手机的屏幕尺寸和CPU处理能力有限，专门为手机进行优化的网站更为方便用户浏览。
                                ul.ul-icon
                                    li
                                        b
                                        span 移动交互体验
                                    li
                                        b
                                        span 与PC数据同步
                                    li
                                        b
                                        span 全兼容手机
                                    li
                                        b
                                        span 量身定制
                                    li
                                        b
                                        span 领先设计
                    .tab-show.dn
                        .tab-con
                            .txt.animated(data-animate='fadeInDown')
                                p 终端以微信为核心载体的微型站点，使其成为移动端的全新信息载体，与微信公众平台无缝对接，展示互动，应有尽用，，让移动网络推广变得更简单。
                                ul.ul-icon
                                    li
                                        b
                                        span 微官网
                                    li
                                        b
                                        span 微信营销
                                    li
                                        b
                                        span 微博营销
                                    li
                                        b
                                        span 手机展示
                                    li
                                        b
                                        span 互动功能
                                    li
                                        b
                                        span 数据同步
                    .tab-show.dn
                        .tab-con
                            .txt.animated(data-animate='fadeInDown')
                                p 针对不同行业，提供更多智能功能的微信基础服务系统平台。同时可以根据您的需求进行高级功能定制与开发。
                                ul.ul-icon
                                    li
                                        b
                                        span 微信支付
                                    li
                                        b
                                        span 微信红包
                                    li
                                        b
                                        span 微菜单
                                    li
                                        b
                                        span 微会员系统
                                    li
                                        b
                                        span 微广告推送
                                    li
                                        b
                                        span 微官网
                .pic
                    .flexslider
                        ul.slides
                            li
                                img.img(src='/public/images/service/14423868578860.jpg')
                            li
                                img.img(src='/public/images/service/14423880884104.jpg')
                            li
                                img.img(src='/public/images/service/14423881046487.jpg')
        .c
        #servweb.service
            .wp
                .tit-i.tit-i-1
                    h3 服务流程
                    h5 service process
                    em
                .about-info
                    p(style='color:#95959c;')
                        | 我们专业提供一站式服务，从网站品牌规划、视觉设计、
                        span(style='color:#95959C;') 交互设计、
                        | 动效创意，到程序开发，运营维护。
                        span(style='line-height:1.5;') 某某网络
                        span(style='line-height:1.5;') 07
                        span(style='line-height:1.5;') 年成立到现在
                        span(style='line-height:1.5;') 8
                        span(style='line-height:1.5;') 年的时间，我们拥有了丰富的建站经验和运维经验，来保证我们的工作的顺利进行。
                    p(style='color:#95959c;')
                    p(style='text-align:justify;text-indent:24.0pt;')
                        span
                    p
                .process
                    .con
                        .pad
                            img(src='/public/images/service/process_bg.png')
                            .txt
                                span.s1 需求
                                span.s2 评估
                                span.s3 协议
                                span.s4 规划
                                span.s5 风格沟通
                                span.s6 设计
                                span.s7 设计修改/确认
                                span.s8 前端制作
                                span.s9 开发
                                span.s10 程序开发
                                span.s11 上线
                                span.s12 售后服务
                            .icon
                                em.q1
                                em.q2
                                em.q3
                                em.q4
                                em.q5
                                em.q6
                                em.q7
        #solution.solution
            .wp
                .tit-i
                    h3 服务行业
                    h5 industry solution
                    em
                ul.ul-solution
                    li.li1
                        a(href='javascript:;')
                            span
                            em IT行业
                    li.li2
                        a(href='javascript:;')
                            span
                            em 制造行业
                    li.li3
                        a(href='javascript:;')
                            span
                            em 服装行业
                    li.li4
                        a(href='javascript:;')
                            span
                            em 健康行业
                    li.li5
                        a(href='javascript:;')
                            span
                            em 地产行业
                    li.li6
                        a(href='javascript:;')
                            span
                            em 美容行业
                    li.li7
                        a(href='javascript:;')
                            span
                            em 传媒行业
                    li.li8
                        a(href='javascript:;')
                            span
                            em 家电行业
                    li.li9
                        a(href='javascript:;')
                            span
                            em 汽车行业
                    li.li10
                        a(href='javascript:;')
                            span
                            em 烟酒行业
                    li.li11
                        a(href='javascript:;')
                            span
                            em 教育行业
                    li.li12
                        a(href='javascript:;')
                            span
                            em 政府机构
    .c


block script
    script.
        var progressMove = false;

        function checkMhd() {
            isMobile = $('#m-hd').is(':visible');
        }

        $(window).resize(function () {
            var process = $('.process');
            checkMhd();
            if (isMobile) {
                process.removeClass('animate-box');
            } else {
                process.addClass('animate-box');
            }
        }).resize();

        $(window).scroll(function () {
            showWeb();
            showMobilephone();
            showProcess();
            showSolution();
        });

        function showWeb() {
            if (isScrolledIntoView('.ul-web')) {
                $('.ul-web li').each(function (i) {
                    $(this).delay(i * 800).fadeIn(50, function () {
                        $(this).find('img').each(function (j) {
                            $(this).delay(j * 200).animate({ opacity: 1 });
                        })
                    });
                })
            }
        }

        function showProcess() {
            if (isScrolledIntoView('.process')) {
                $('.process .icon').each(function () {
                    $(this).find('em').each(function (i) {
                        $(this).delay(i * 500).animate({ opacity: 1 });
                    })
                })
            }
        }



        function showMobilephone() {
            if (isScrolledIntoView('.tab-show')) {
                $('.tab-show .pic').each(function () {
                    $(this).addClass($(this).data('animate'));
                })
                $('.tab-show .txt').each(function () {
                    $(this).addClass($(this).data('animate'));
                })
            }

        }
        function showSolution() {
            if (isScrolledIntoView('.ul-solution', 300)) {
                $(".ul-solution").each(function () {
                    $(".ul-solution li").animate({ left: 0, top: 0, opacity: 1 })
                })
            }
        }


        $('.ul-webset li a.close').click(function () {
            $('.ul-webset li .webset-pop').css({
                opacity: 0,
                left: '-100%',
                zIndex: -1
            });
        })
        $('.webset-pop .li2 a.close').click(function () {
            $('.webset-pop').hide();
        })
        $('.webset-pop .li3 a.close').click(function () {
            $('.webset-pop').hide();
        })


        $('.ul-txt li').click(function () {
            var txt = $(this).find('.txt-1');
            var _this = this;
            if (!txt.is(":visible")) {
                $('.ul-txt li .txt-1').slideUp(500);
                txt.stop(false, true).slideDown(function () {
                    $('.ul-txt li').removeClass('ok');
                    $(_this).addClass('ok');
                });
            } else {
                var _this = this;
                txt.stop(false, true).slideUp(500, function () {
                    $('.ul-txt li').removeClass('ok');
                });
            }
        });

        $('li .btn').click(function () {
            var webset_pop = $(this).parents('li').find('.webset-pop');
            webset_pop.css({ zIndex: 10 }).animate({
                opacity: 1,
                left: 0
            });
        });

        $(document).ready(function (e) {

            $(".ul-solution li").hover(function () {
                $(this).find("span").animate({ top: 5 }, 300)
            }, function () {
                $(this).find("span").animate({ top: 0 }, 300)

            })
        });


        $('.web-con .flexslider').flexslider({
            animation: "slide",
            animationLoop: true,
            slideshow: false,
            prevText: "",
            nextText: "",
            controlNav: true,
            directionNav: true
        });
        $(".TAB_CLICK_SLIDE li").click(function () {
            var tab = $(this).parent(".TAB_CLICK_SLIDE");
            var con = tab.attr("id");
            var idx = tab.find("li").index(this);
            $(this).addClass('hover').siblings(tab.find("li")).removeClass('hover');
            $(con).eq(idx).show().siblings(con).hide();
            $('.web-con .flexslider').flexslider(idx);
        });