#fd.index-fd.pr
    .map-bg3
    .wp
        .fd-top
            dl
                dt 关于我们
                dd
                    ul.ul-fd
                        li
                            a(href='about') 我们是谁
                        li
                            a(href='about') 我们服务的客户
                        li
                            a(href='about') 我们的团队
            dl
                dt 我们的服务
                dd
                    ul.ul-fd
                        li
                            a(href='service') 网站建设
                        li
                            a(href='service') H5响应式 交互网站
                        li
                            a(href='service') 移动端 & 微网站定制
                        li
                            a(href='service') 服务流程
                        li
                            a(href='service') 行业解决方案
            dl
                dt 我们的案例
                dd
                    ul.ul-fd
                        li
                            a(href='cases') 网站设计
                        li
                            a(href='cases') 移动APP
                        li
                            a(href='cases') 软件界面
                        li
                            a(href='cases') 互联网产品
                        li
                            a(href='cases') 电子商务
                        li
                            a(href='cases') 平面设计
            dl
                dt 新闻动态
                dd
                    ul.ul-fd
                        li
                            a(href='news') 团队活动
                        li
                            a(href='news') 案例更新
                        li
                            a(href='news') 项目动态
            dl
                dt 联系我们
                dd.pr
                    p
                        a.weixin(href='contact')
                        a.sina(href='contact')
                        span.weixin-pic
                            img(src='/public/images/footer/qrcode.png')
                    p
                        b.tel 0771-3216270
                    h5 公司服务热线
    .fd-copy
        .wp
            p
                span(style='color:#CCCCCC;')
                    | © 2018 火星云
                    a(style='color: rgb(58, 221, 26);', href="javascript:;") 火星云
                    |  版权所有
                a(href="javascript:;")
                    span(style='color:#CCCCCC;') 桂ICP备15003644号-2
.side2
    ul
        li
            a(href='')
                img(src='/public/images/other/r_icon1.png')
            .weixin
                em
                img(src='/public/images/footer/qrcode.png')
        li
            a.sidetop(href='javascript:goTop();')
                img(src='/public/images/other/r_icon2.png')
