#hd
    .wp
        .logo
            a(href='/')
                img(src='/public/images/head/logo1.png')
        #nav
            ul
                li
                    a(href='cases') 客户案例
                li
                    a(href='service') 服务项目
                li
                    a(href='about') 关于我们
                li
                    a(href='news') 新闻动态
                li
                    a(href='blog') 知识博客
                li
                    a(href='contact') 联系我们
                li
                    a(href="#") 其他
        .tel 0771-3216270
.c
#m-hd
    a.m-logo(href='/')
        img(src='/public/images/head/logo1.png')
    .m-trigger
    ul.m-nav
        li
            a.v1(href='/') 首页 
        li
            a.v1(href='cases') 客户案例
        li
            a.v1(href='service') 服务项目
        li
            a.v1(href='about') 关于我们
        li
            a.v1(href='news') 新闻动态
        li
            a.v1(href='blog') 知识博客
        li
            a.v1(href='contact') 联系我们
        li
            a.v1(href="#") 其他
.c

